module: satosa.micro_services.inject_attribute_for_rs_idps.InjectAttributeForRSIdPs
name: InjectAttributeForRSIdPs
config:
    ls_webname: "https://example.com/public"
    static_attributes:
        epa : "urn:example:org"
    whitelist_idp:
        - https://idp.example.com/idp
    attribute_value_to_search:
        - exampleattribute
